<div class="container">
    <div class="col-lg-12">
        <div class="list-group list-group-flush">
            <h4 class="list-group-item lead text-muted">{{__ "Connections"}}</h4>
            {{#each connections}}
            <a href="{{@key}}" class="list-group-item btnConnConnect" data-connection="{{@key}}">{{@key}}</a>
            {{/each}}
        </div>
        <div class="d-flex align-items-center m-4 p-4 justify-content-center">
            <button type="button" class="btn btn-lg btn-outline-primary d-flex align-items-center" data-toggle="modal"
                href="#add-connection">
                <i class="material-icons mr-2">power</i>
                Add Connection
            </button>
        </div>

    </div>
</div>