<div id="doc_load_placeholder" class="p-4">
    <div class="d-flex justify-content-center">
        <div class="spinner-border spinner-border-xs text-primary" style="width:3rem;height:3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<div id="doc_none_found" class="p-3 mt-3" style="display:none">
    <div class="alert alert-warning" role="alert">
        {{__ "No documents found"}}
    </div>
</div>
<div id="coll_docs"></div>

<div id="pager" class="text-center pagination-sm"></div>

<input type="hidden" id="page_num" value="1">
